<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="container">
    <main>
      <div>
        <h1>This is gino</h1>
        <p>Welcome to gino</p>
      </div>
      <div id="gino" class="gino">gino</div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
